* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome;
    font-size: 17px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

/*
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 2px;
    background-color: transparent;
    color: #02daf7;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.empty {
	color: #bbbbbb;
}

#workspaces button.active {
	color: #f702f3;
	/* border-top: 2px solid #02daf7; */
    box-shadow: inset 0 2px #02daf7;
}

/* #workspaces button.urgent { */
/*     background-color: #eb4d4b; */
/* } */

#clock,
#battery,
#cpu,
#backlight,
#pulseaudio,
#workspaces {
    margin: 0 0px;
	padding-left: 0px;
	padding-right: 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #ee9a00;
	background-color: transparent;
}

#battery.charging {
	color: #02daf7;
}

#battery.low:not(.charging) {
	color: red;
}

#battery.critical:not(.charging) {
	color: red;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: #000000;
    }
}

window#waybar #window {
	font-size: 0;
	margin-right: 0;
	padding-right: 0;
}

window#waybar.fullscreen #window {
	color: #8ec07c;
	font-size: 17px;
}

/* window#waybar.fullscreen #workspaces button.active { */
/* 	border-top: 2px solid green; */
/* } */
